extends layout

block content
  h1= title
  div.sauce-table
    form.flex-column(action="" method="POST" )
      label(for="sauce-name") Name of Sauce
      input#sauce-name(type="text" name="name" required value=(sauce === undefined? '' : sauce.name))

      label(for="sauce-description" placeholder="Sauce Name") Sauce Description
      textarea#sauce-description(type="text" name="description" placeholder="Sauce Description" required value=(sauce === undefined ? '' : sauce.description))

      label(for="heat-rating") Scoville Rating 
      input#heat-rating(type="number" name="heat_rating" placeholder=0 min=0 max=1000000 value=(sauce === undefined ? 0 : sauce.scoville))

      .checkbox-grid 
        each pepper in peppers
          div.flex-row
            label(for=pepper._id) #{pepper.name}
            input(type="checkbox" name="peppers" value=pepper._id id=pepper._id checked=peppers.checked)


      button(type="submit") Submit

      if errors
        ul
            for error in errors
                li!= error.msg